# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
*.egg
poetry.lock
